.review{
    border-top: 5px solid black;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0);
    width: 1465px;
    max-width: 1920px;
    height: 550px;
    background-image: url("../image/rback.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.area{
    position: relative;
    top: 10px;
    left: 150px;
    width: 1150px;
}
.in{
    float: left;
    height: 80px;
    padding-left: 5px;
    line-height: 20px;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    width: 1000px;
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
    resize: none;
    margin-bottom: 15px;
    transition: all 0.5s;
}
.btn{
    margin-left: 10px;
    height: 80px;
    width: 130px;
    line-height: 80px;
    text-align: center;
    font-size: 20px;
    float: left;
    background-color: rgb(0, 183, 255);
    border-radius: 5px;
    background:linear-gradient(-200deg,#f2c4ff,#6da0ff);
    transition: all 1s;
}
.btn:hover{
    background:linear-gradient(-200deg,#e175ff,#4284ff);
    background-position-x: -260px;
}
.view{
    background-color: white;
    border-radius: 10px;
    float: left;
    max-height: 250px;
    width: 1150px;
    overflow: auto;
}
.re{
    color: black;
    float: left;
    height: 85px;
    width: 1120px;
    border-bottom: 1px dashed rgb(107, 107, 107);
}
.re h3{
    color: rgb(255, 156, 173);
}
.re div{
    position: relative;
    font-size: 14px;
    top: 21px;
}
.pic{
    float: left;
    margin-top: -17px;
    margin-right: 10px;
    height: 80px;
    width: 80px;
    background-color: white;
    border-radius: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.contain{
    position: absolute;
    top: 60px;
    left: 920px;
    color: black;
}
.del{
    margin-top: 5px;
    color: black;
    float: right;
    font-size: 25px;
    font-family: "icomoon";
}
